<app-navbar></app-navbar>
<div class="jumbotron text-center">
  <div class="display-4">Contact us</div>
  <p class="lead">This is a simple contact us page</p>
  <div class="container">
    <section>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea distinctio
        necessitatibus blanditiis voluptas, delectus perspiciatis! Error animi
        reiciendis ex rem odio labore, atque maiores distinctio possimus
        incidunt cum provident amet, perferendis numquam veniam natus
        necessitatibus velit quod! Neque veritatis necessitatibus dignissimos
        architecto, perferendis labore omnis ipsum vero possimus culpa
        doloremque modi error consequuntur ex numquam corporis, quasi libero
        recusandae. Corrupti odio quia praesentium assumenda dolor fugit,
        reiciendis, perspiciatis nulla vel consequatur eos voluptates atque
        alias labore, quidem magni. Ipsa expedita nulla laudantium quod eius
        iste illum maiores quam enim numquam neque totam sapiente, eligendi
        animi! Deserunt sequi fuga dicta delectus!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea distinctio
        necessitatibus blanditiis voluptas, delectus perspiciatis! Error animi
        reiciendis ex rem odio labore, atque maiores distinctio possimus
        incidunt cum provident amet, perferendis numquam veniam natus
        necessitatibus velit quod! Neque veritatis necessitatibus dignissimos
        architecto, perferendis labore omnis ipsum vero possimus culpa
        doloremque modi error consequuntur ex numquam corporis, quasi libero
        recusandae. Corrupti odio quia praesentium assumenda dolor fugit,
        reiciendis, perspiciatis nulla vel consequatur eos voluptates atque
        alias labore, quidem magni. Ipsa expedita nulla laudantium quod eius
        iste illum maiores quam enim numquam neque totam sapiente, eligendi
        animi! Deserunt sequi fuga dicta delectus!
      </p>
    </section>
  </div>
</div>
