<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal"
    href={{carturl}}>
<span class="fa-stack fa-2x has-badge" data-count={{nfitems}}>
  <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
  <i style="" class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
</span>
</a>
